LOG_LEVEL=DEBUG
DIAL_SDK_LOG=DEBUG
WEB_CONCURRENCY=2

OTEL_PYTHON_LOG_CORRELATION=true
OTEL_PYTHON_FASTAPI_EXCLUDED_URLS=/health
OTEL_LOGS_EXPORTER=
OTEL_METRICS_EXPORTER=
OTEL_TRACES_EXPORTER=
OTEL_EXPORTER_OTLP_ENDPOINT=http://0.0.0.0:4317
OTEL_RESOURCE_ATTRIBUTES=service.name=dial-bing-grounding
OTEL_EXPORTER_PROMETHEUS_PORT=9464

PYTEST_XDIST_AUTO_NUM_WORKERS=16
